<ng-container *ngIf="draw$ | async as draw">
    <div class="draw-setting-container">
        <div>
            <div>
                <h2>Settings</h2>
            </div>
            <app-loading-spinner
                *ngIf="loading; else notLoading"
                msg="Update Draw Settings"
            ></app-loading-spinner>
            <app-error-message-bar
                *ngIf="errMsg"
                [errMsg]="errMsg"
            ></app-error-message-bar>
            <ng-template #notLoading>
                <mat-list>
                    <mat-list-item>
                        <div mat-line>Change Draw Name</div>
                        <div mat-line>
                            <mat-form-field
                                *ngIf="editMode"
                                class="edit-draw-name-formfield"
                            >
                                <mat-label>Name</mat-label>
                                <input
                                    matInput
                                    [formControl]="nameFormControl"
                                />
                                <mat-error
                                    *ngIf="nameFormControl.hasError('required')"
                                    >Required</mat-error
                                >
                                <mat-error
                                    *ngIf="
                                        nameFormControl.hasError('maxlength')
                                    "
                                    >Maximum Character is 30</mat-error
                                >
                            </mat-form-field>
                        </div>
                        <div mat-line class="draw-name-text" *ngIf="!editMode">
                            {{ (draw$ | async)?.name }}
                        </div>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="changeDrawName(draw)"
                        >
                            Change
                        </button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div mat-line>Sign In Required</div>
                        <mat-slide-toggle
                            class="signin-slide-toggle"
                            (change)="changeSignInRequiredSetting($event, draw)"
                            [checked]="draw?.signInRequired"
                        ></mat-slide-toggle>
                        <div mat-line>
                            <p class="description-text">
                                (This requires participants to first sign in in
                                order to join the draw)
                            </p>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div mat-line>Lock Draw</div>
                        <mat-slide-toggle
                            class="lock-slide-toggle"
                            (change)="changeLockSetting($event, draw)"
                            [disabled]="!draw.signInRequired"
                            [checked]="draw.lock"
                        ></mat-slide-toggle>
                        <div mat-line>
                            <p class="description-text">
                                (Only available if signing in is required. This
                                will disallow participant to join the draw)
                            </p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </ng-template>
        </div>
    </div>
</ng-container>
