.warning-header {
    background-color: rgb(255, 51, 51);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.err-text {
    font-weight: 300;
    font-size: large;
}
