<div class="draw-setting-container">
    <div>
        <div>
            <h2>Lucky Draw Setting</h2>
        </div>
        <app-loading-spinner
            [msg]="loadingMsg"
            *ngIf="loading$ | async"
        ></app-loading-spinner>
        <app-error-message-bar
            *ngIf="error$ | async"
            [errMsg]="
                $any(error$ | async).message +
                '. Please try again by clicking the refresh button'
            "
        ></app-error-message-bar>
        <mat-list *ngIf="(draw$ | async) && !(loading$ | async)">
            <mat-list-item>
                <div mat-line>Change Draw Name</div>
                <div mat-line>
                    <mat-form-field
                        *ngIf="editMode"
                        class="edit-draw-name-formfield"
                    >
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="nameFormControl" />
                        <mat-error *ngIf="nameFormControl.hasError('required')"
                            >Required</mat-error
                        >
                        <mat-error *ngIf="nameFormControl.hasError('maxlength')"
                            >Maximum Character is 30</mat-error
                        >
                    </mat-form-field>
                </div>
                <div mat-line class="draw-name-text" *ngIf="!editMode">
                    {{ (draw$ | async)?.name }}
                </div>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="changeDrawName()"
                >
                    Change
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div mat-line>Sign In Required</div>
                <mat-slide-toggle
                    class="signin-slide-toggle"
                    (change)="changeSignInRequiredSetting($event)"
                    [checked]="(draw$ | async)?.signInRequired"
                ></mat-slide-toggle>
                <div mat-line>
                    <p class="description-text">
                        (This requires participants to first sign in in order to
                        join the draw)
                    </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <div mat-line>Lock Draw</div>
                <mat-slide-toggle
                    class="lock-slide-toggle"
                    (change)="changeLockSetting($event)"
                    [disabled]="!(draw$ | async)?.signInRequired"
                    [checked]="(draw$ | async)?.lock"
                ></mat-slide-toggle>
                <div mat-line>
                    <p class="description-text">
                        (Only available if signing in is required. This will
                        disallow participant to join the draw)
                    </p>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <button
        class="back-home-btn"
        mat-raised-button
        (click)="navigateToHomePage()"
    >
        Back to Home
    </button>
</div>
