<h2 mat-dialog-title>Edit Prize</h2>
<div mat-dialog-content>
    <form [formGroup]="form" class="prize-edit-form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sponsor</mat-label>
            <input matInput formControlName="sponsor" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Sequence</mat-label>
            <input matInput formControlName="sequence" type="number" />
        </mat-form-field>
        <mat-checkbox [formControl]="assignedFormControl"
            >Assigned?</mat-checkbox
        >

        <mat-form-field appearance="fill">
            <mat-label>Winner</mat-label>
            <mat-select
                [formControl]="winnerIdFormControl"
                (closed)="onPanelClose()"
                panelClass="custom-mat-select"
            >
                <mat-form-field appearance="fill">
                    <mat-icon matPrefix>search</mat-icon>
                    <input
                        matInput
                        [formControl]="filterFormControl"
                        type="text"
                        placeholder="Search"
                    />
                </mat-form-field>
                <mat-option
                    *ngFor="let option of filteredOptions | async"
                    [value]="option.id"
                >
                    {{ option.name }} (ID: {{ option.id }})
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end" class="dialog-action-container">
    <button mat-button mat-dialog-close>close</button>
    <button mat-raised-button color="primary" (click)="editPrize()">
        Edit
    </button>
</div>
