<div class="change-password-page-container">
    <h1>Change Password</h1>
    <app-error-message-bar
        class="err-msg-bar"
        [errMsg]="err"
        *ngIf="err"
    ></app-error-message-bar>

    <app-loading-spinner
        msg="Updating Your Password"
        *ngIf="loading; else notLoading"
    ></app-loading-spinner>

    <ng-template #notLoading>
        <form
            [formGroup]="formGroup"
            (ngSubmit)="changePassword()"
            class="change-password-form"
        >
            <mat-form-field appearance="fill">
                <mat-label>Old Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="oldPassword"
                    class="email-form-field"
                />
                <button
                    *ngIf="formGroup.value.oldPassword"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    type="button"
                    (click)="formGroup.patchValue({ oldPassword: '' })"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error
                    *ngIf="formGroup.get('oldPassword')?.hasError('required')"
                >
                    Required</mat-error
                >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="newPassword"
                    class="password-form-field"
                />
                <button
                    *ngIf="formGroup.value.newPassword"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    type="button"
                    (click)="formGroup.patchValue({ newPassword: '' })"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error
                    *ngIf="formGroup.get('newPassword')?.hasError('required')"
                >
                    Required</mat-error
                >
                <mat-hint align="end">
                    At least 8 alphabet and numeric characters
                </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Your New Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="confirmPassword"
                    class="confirm-password-form-field"
                    [errorStateMatcher]="confirmPasswordErrorMatcher"
                />
                <button
                    *ngIf="formGroup.value.confirmPassword"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    type="button"
                    (click)="formGroup.patchValue({ confirmPassword: '' })"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error
                    *ngIf="
                        formGroup.get('confirmPassword')?.hasError('required')
                    "
                >
                    Required</mat-error
                >
                <mat-error *ngIf="formGroup.hasError('confirmPassword')">
                    Password does not match</mat-error
                >
            </mat-form-field>
            <button
                mat-raised-button
                color="primary"
                type="submit"
                class="register-btn"
                [disabled]="!formGroup.valid || loading"
            >
                Change Password
            </button>
        </form>
        <button mat-button (click)="back()" class="home-btn">
            Back to Home
        </button>
    </ng-template>
</div>
