<div class="prizes-selection-container" *ngIf="prizes$ | async as prizes">
    <mat-card>
        <div class="card-container">
            <div class="card-header">
                <div>
                    <mat-card-title>Lucky Draw</mat-card-title>
                    <mat-card-subtitle
                        >Number of prizes to be drawn:
                        {{ numberOfPrizes }}</mat-card-subtitle
                    >
                </div>
                <button
                    mat-button
                    class="setting-btn"
                    (click)="openSelectionDialog(prizes.length)"
                >
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
            <mat-card-content>
                <div *ngIf="prizes.length > 0 && numberOfPrizes === 1">
                    <h3>
                        <p style="font-weight: bold">Next Prize:</p>
                        {{ prizes[0].sequence }}.
                        {{ prizes[0].name }}
                        (Sponsor: {{ prizes[0].sponsor }})
                    </h3>
                </div>
                <div
                    *ngIf="
                        prizes.length > 0 &&
                        numberOfPrizes > 1 &&
                        numberOfPrizes <= prizes.length
                    "
                >
                    <div>
                        <h3>
                            <p style="font-weight: bold">Next Prize:</p>
                            {{ prizes[0].sequence }}.
                            {{ prizes[0].name }}
                            (Sponsor: {{ prizes[0].sponsor }}) -
                            {{ prizes[numberOfPrizes - 1].sequence }}.
                            {{ prizes[numberOfPrizes - 1].name }}
                            (Sponsor: {{ prizes[numberOfPrizes - 1].sponsor }})
                        </h3>
                    </div>
                </div>
            </mat-card-content>
            <div class="start-draw-btn-container">
                <button
                    mat-raised-button
                    color="primary"
                    class="draw-button"
                    (click)="startDraw(prizes)"
                >
                    <mat-icon>redeem</mat-icon>
                    Start
                </button>
            </div>
        </div>
    </mat-card>
</div>
