<div class="participants-container">
    <h2>Participants List</h2>
    <div class="top-functions-bar">
        <button
            mat-raised-button
            (click)="downloadTemplateFile()"
            matTooltip="Download Template File"
        >
            <mat-icon>file_download</mat-icon>
            {{ (isSmallScreen$ | async) ? '' : 'Download template file' }}
        </button>
        <button
            mat-raised-button
            color="primary"
            (click)="openImportDialog()"
            matTooltip="Import Template File"
        >
            <mat-icon>file_upload</mat-icon>
            {{ (isSmallScreen$ | async) ? '' : 'Import' }}
        </button>
        <button
            mat-raised-button
            (click)="openCreateDialog()"
            matTooltip="New Participant"
        >
            <mat-icon>person</mat-icon>
            {{ (isSmallScreen$ | async) ? '' : 'New' }}
        </button>
    </div>
    <app-participant-search-bar></app-participant-search-bar>
    <app-participant-list></app-participant-list>
    <app-participant-paginator></app-participant-paginator>
</div>
