<div
    class="side-nav-bar"
    [@collapseExpand]="expand ? 'expand' : 'collapse'"
    (@collapseExpand.done)="onAnimationDone($event)"
>
    <ng-container *ngIf="showBigNav; else showSmallNav">
        <div>
            <div class="home-row" (click)="navigateToHome()">
                <div>
                    <img src="/assets/lucky-draw.png" />
                </div>
                <h2>HTE Lucky Draw</h2>
            </div>
            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item class="home-row" (click)="navigateToMain()">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <h3 mat-line>Home</h3>
                    <div class="home-row-settings">
                        <div class="divider"></div>
                        <mat-icon
                            (click)="navigateToSettings($event)"
                            class="settings-icon"
                            >settings</mat-icon
                        >
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item (click)="navigateToPrize()">
                    <mat-icon mat-list-icon>redeem</mat-icon>
                    <div mat-line>Prizes</div>
                </mat-list-item>
                <mat-list-item (click)="navigateToParticipant()">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <div mat-line>Participants</div>
                </mat-list-item>
                <mat-list-item (click)="navigateToLink()">
                    <mat-icon mat-list-icon>qr_code</mat-icon>
                    <div mat-line>Link</div>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="bottom-expand-container" (click)="collapseNavBar()">
            <mat-icon>chevron_left</mat-icon>
        </div>
    </ng-container>
    <ng-template #showSmallNav>
        <mat-list>
            <mat-list-item (click)="navigateToHome()">
                <div>
                    <img src="/assets/lucky-draw.png" />
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="navigateToMain()">
                <mat-icon mat-list-icon matTooltip="Home">home</mat-icon>
            </mat-list-item>
            <mat-list-item (click)="navigateToSettings($event)">
                <mat-icon
                    mat-list-icon
                    class="settings-icon"
                    matTooltip="Settings"
                    >settings</mat-icon
                >
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="navigateToPrize()">
                <mat-icon mat-list-icon matTooltip="Prize">redeem</mat-icon>
            </mat-list-item>
            <mat-list-item (click)="navigateToParticipant()">
                <mat-icon mat-list-icon matTooltip="Participant"
                    >person</mat-icon
                >
            </mat-list-item>
            <mat-list-item (click)="navigateToLink()">
                <mat-icon mat-list-icon matTooltip="Link">qr_code</mat-icon>
            </mat-list-item>
        </mat-list>
        <div (click)="expandNavBar()" class="bottom-collapse-container">
            <mat-icon>chevron_right</mat-icon>
        </div>
    </ng-template>
</div>
