<div class="login-page-container">
    <h2>Login</h2>
    <app-error-message-bar
        class="err-msg-bar"
        [errMsg]="loginErr"
        *ngIf="loginErr"
    ></app-error-message-bar>
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()" class="login-form">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput
                type="email"
                formControlName="email"
                class="email-input"
            />
            <button
                *ngIf="formGroup.value.email"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                type="button"
                (click)="formGroup.patchValue({ email: '' })"
            >
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
                Required</mat-error
            >
            <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
                Invaild Email</mat-error
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password"
                formControlName="password"
                class="password-input"
            />
            <button
                *ngIf="formGroup.value.password"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                type="button"
                (click)="formGroup.patchValue({ password: '' })"
            >
                <mat-icon>close</mat-icon>
            </button>
            <mat-error>Required</mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formGroup.invalid || loading"
            class="submit-button"
        >
            Sign In
        </button>
        <button
            mat-button
            (click)="navigateToRegisterPage()"
            class="navigate-to-register-btn"
        >
            Don't Have an Account yet? Click Here to Register
        </button>
    </form>
</div>
