.register-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;

    .mat-form-field {
        width: 80%;
        margin-bottom: 20px;
    }
}

.warning-header {
    background-color: rgb(255, 51, 51);
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.register-err-text {
    font-weight: 300;
    font-size: large;
}

.navigate-to-login-btn {
    margin: 10px;
}
