<div class="register-page-container">
    <h2>Register A Master Account</h2>
    <form
        [formGroup]="formGroup"
        (ngSubmit)="submitForm()"
        class="register-form"
    >
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput
                type="email"
                formControlName="email"
                class="email-form-field"
            />
            <button
                *ngIf="formGroup.value.login"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="formGroup.patchValue({ login: '' })"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password"
                formControlName="password"
                class="password-form-field"
            />
            <button
                *ngIf="formGroup.value.password"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="formGroup.patchValue({ password: '' })"
            >
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint align="end">
                At least 8 alphabet and numeric characters
            </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm Your Password</mat-label>
            <input
                matInput
                type="password"
                formControlName="confirmPassword"
                class="confirm-password-form-field"
            />
            <button
                *ngIf="formGroup.value.confirmPassword"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="formGroup.patchValue({ confirmPassword: '' })"
            >
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="confirmPwdErr !== ''">{{
                confirmPwdErr
            }}</mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            class="register-btn"
            [disabled]="!formGroup.valid || confirmPwdErr !== ''"
        >
            Register
        </button>
        <p *ngIf="error$ | async">{{ error$ | async }}</p>
        <button
            mat-button
            [disabled]="loading$ | async"
            (click)="navigateToLoginPage()"
            class="navigate-to-login-btn"
        >
            Already Have An Account? Click Here to Login
        </button>
    </form>
</div>
