<div class="draw-app-container">
    <div class="side-nav-bar">
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>settings</mat-icon>
                <div>Settings</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>redeem</mat-icon>
                <div>Prizes</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <div>Participants</div>
            </mat-list-item>
        </mat-list>
    </div>
    <router-outlet></router-outlet>
</div>
