.import-prizes-input {
    display: none;
}

.import-prizes-input-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .import-prizes-label {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}

.prizes-list-result-text {
    font-weight: 700;
    margin-top: 10px;
}
