<div class="nav-button-container">
    <button
        mat-raised-button
        color="primary"
        (click)="navigateToParticipantPage()"
    >
        <mat-icon>person</mat-icon>
        Participant Setting
    </button>
    <button mat-raised-button color="accent" (click)="navigateToPrizePage()">
        <mat-icon>redeem</mat-icon>
        Prize Setting
    </button>
    <button mat-raised-button (click)="navigateToSettingPage()">
        <mat-icon>settings</mat-icon>
        Draw Setting
    </button>
</div>
